@font-face {
  font-family: "Eastman Grotesque Black";
  src: url("/fonts/eastman_grotesque/Black-trial.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

.main {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/cosmos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  width: 30vw;
  height: 30vh;
}
.section {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Eastman Grotesque Black";
  font-size: 1.5rem;
  font-weight: 900;
}
.container {
  text-align: center;
  height: 30vh;
  width: 50vw;
  border-radius: 25px;
  background-color: rgba(45, 53, 79, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15vh 0 15vh 0;
}

.button {
  display: flex;
  gap: 1vw;
}

.btn {
  color: #152234;
  font-size: 1.3rem;
  padding: 1.5vw;
  font-family: "Eastman Grotesque Black";
  font-weight: 900;
}
